.view h2{
    padding: 20px;
    background-color: white;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto; /* This will center the table */
}

table, td {
    border: 1px solid #ccc;
}

td {
    padding: 10px;
    text-align: left;
}

.section-title {
    font-weight: bold;
    background-color: #ebe9e9;
}
