body {
    height:100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(138, 196, 250), rgb(133, 247, 133));
    }
    html{
        height:100%;
    font-family: Arial, Helvetica, sans-serif;
    }
    #top {
background-color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  width: 100%; /* Make sure it spans the entire width */
  z-index: 1000; /* Ensure it's always on top of other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }  
    #logo {
    width: 120px;
    }   
    nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    }
    nav ul li a {
    color: black;
    text-decoration: none;
    font-size:large;
    }
    nav ul li a:hover {
    text-decoration: underline;
    }
    span a {
        text-decoration: none;
    color: white;
    background-color: rgb(37, 214, 61);
    padding: 10px 15px;
    border-radius: 5px;
    margin-right:70px;
    font-size:large;
    }
    span a:hover {
        background-color: #19b620;
    }